.button-margin
{
    margin-top: -40px;
}

.ecommerce-cart .content .content-wrapper .content-header
{
    margin: 0 0 5rem; 

    background: url('../../images/gallery/timeline.jpg') no-repeat scroll 0 40%;
    -webkit-background-size: cover;
            background-size: cover;
}
